@import "tailwindcss";

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body {
    background-image: url('/nature.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}